footer {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 16px;
    opacity: 0.6;
    text-align: right;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
}

footer a {
    color: #b08a1e;
}

footer a:hover {
    color: #d4af37;
}