* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  scrollbar-width: none;
}

body {
  text-align: center;
  color: rgb(218, 213, 213);
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("imagens/wallpaper chique antigo dark red 2.jpg") center center / cover no-repeat fixed;
}

#conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#conteudo p {
  font-size: 25px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  width: 600px;
  max-width: 100%;
}

#conteudo li {
  text-align: left;
  font-size: 20px;
  margin-left: 10px;
  line-height: 1.5;
  margin-bottom: 40px;
}

#conteudo strong {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: yellow;
}

h2 {
  margin-top: 55px;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

#saudacao {
  font-family: sans-serif;
}

a {
  color: rgb(185, 140, 25);
  transition: all 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  text-decoration: none;
}

a:hover {
  color: rgb(146, 111, 20);
  text-decoration: underline;
}

.lista {
  margin-top: 50px;
  margin-bottom: 60px;
}

html {
  -webkit-text-size-adjust: 100%;
}

html,
body {
  overflow-x: hidden;
}
::selection{
  background-color: #b08a1e;
  color: #f2f2f2;
}

body::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-thumb{
  background-color: rgb(185, 140, 25);
  border-radius: 8px;
}
body::-webkit-scrollbar-track{
  border-radius: 8px;
  background: rgb(44, 44, 44);
}