nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("imagens/wallpaper chique antigo dark red 2.jpg");
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 8px;
}

a {
    color: rgb(207, 162, 46);
    transition: all 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

a:hover {
    color: rgb(146, 111, 20);
}