.title-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    position: static;
    gap: 15px;
    padding: 10px 20px;
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) 100%),
        url("imagens/wallpaper chique antigo dark red 2.jpg");
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.7);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90px;
    flex-shrink: 0;
}

.title-bar h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    color: yellow;
    margin: 0;
    border: 2px solid yellow;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 8px;
}
